/* @media only screen and (max-width: 700px) { */

/******************** VARIABLES *********************/
.grid-swipe {
	--margin-number: 0px;
	--gap-number: 0px;
	--column-number: 2;
	--column-percentage-column: calc(calc(100 / var(--column-number)) / 100);
	--column-size: calc(100% * var(--column-percentage-column));
}

/******************** GRID SWIPE *********************/
.grid-swipe {
	align-content: center;
	scroll-snap-stop: always;
	-webkit-scroll-snap-stop: always;
	display: flex;
	display: -webkit-flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	-webkit-scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}
.grid-swipe:before,
.grid-swipe:after {
	content: '';
	display: block;
	scroll-snap-align: end;
	-webkit-scroll-snap-align: end;
}

/******************** GRID ITEM *********************/
.grid-item {
	border: none;
	scroll-snap-align: start;
	-webkit-scroll-snap-align: start;
	scroll-snap-stop: always;
	-webkit-scroll-snap-stop: always;
	overflow: hidden;
}
.grid-item:last-child {
	margin-right: 0px !important;
}

/******************** GAP CUSTOM *********************/
.grid-swipe--gap.grid-swipe--default {
	scroll-padding-left: var(--margin-number); /* padding correcao ios safari */
}
.grid-swipe--gap.grid-swipe--default .grid-item {
	margin-right: var(--gap-number);
	flex: 0 0
		calc(
			var(--column-size) +
				calc(
					calc(calc(var(--margin-number) * var(--column-percentage-column)) * -2) +
						calc(calc(var(--gap-number) * calc(1 - var(--column-percentage-column))) * -1)
				)
		);
}

.grid-swipe--gap.grid-swipe--default:before,
.grid-swipe--gap.grid-swipe--default:after {
	flex: 0 0 var(--margin-number);
}

/* HACK: Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}
