body {
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 700px) {
	.grid-swipe-full {
		position: relative;
		align-content: center;
		scroll-snap-stop: always;
		-webkit-scroll-snap-stop: always;
		display: flex;
		display: -webkit-flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		-webkit-scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		padding: 0px;
		align-content: center;
		scroll-snap-stop: always;
		-webkit-scroll-snap-stop: always;
		display: flex;
		display: -webkit-flex;
	}
	.grid-swipe-full.grid-col-1 .grid-item {
		flex: 0 0 100%;
		margin: 0px;
		scroll-margin: 0px;
	}

	.grid-swipe {
		align-content: center;
		scroll-snap-stop: always;
		-webkit-scroll-snap-stop: always;
		display: flex;
		display: -webkit-flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		-webkit-scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		padding: 0px;
		align-content: center;
		scroll-snap-stop: always;
		-webkit-scroll-snap-stop: always;
		scroll-padding-left: 20px; /* padding correcao ios safari */
		display: flex;
		display: -webkit-flex;
	}

	.grid-item:last-child {
		margin-right: 0px;
	}

	.grid-swipe:before {
		content: '';
		display: block;
		float: right;
		width: 10px;
		flex: 0 0 20px;
		scroll-snap-align: end;
		-webkit-scroll-snap-align: end;
		display: block;
		margin: 0px;
		padding: 0px;
	}

	.grid-swipe:after {
		content: '';
		display: block;
		float: right;
		width: 10px;
		flex: 0 0 20px;
		scroll-snap-align: end;
		-webkit-scroll-snap-align: end;
		display: block;
		margin: 0px;
		padding: 0px;
	}

	.grid-swipe .grid-item {
		margin-bottom: 0px;
	}

	.grid-swipe.grid-col-1 .grid-item {
		flex: 0 0 calc(100% + -40px);
	}

	.grid-swipe.grid-col-2 .grid-item {
		flex: 0 0 calc(50% + -25px);
	}

	.grid-swipe.grid-col-3 .grid-item {
		flex: 0 0 calc(33.333333% + -20px);
	}

	.grid-item {
		border: none;
		margin-top: 0px;
		scroll-snap-align: start;
		-webkit-scroll-snap-align: start;
		scroll-snap-stop: always;
		-webkit-scroll-snap-stop: always;
		flex: 0 0 44%;
		margin-right: 10px;
		overflow: hidden;
	}

	.grid-item--example img {
		display: block;
		padding: 0px;
		margin: 0;
		width: 100%;
		height: auto;
		max-width: initial;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}
}
