body {
	margin: 0;
	padding: 0;
}
/* 
.grid-item--example img {
	width: 100%;
} */

img {
	display: block;
}
.item {
	border: 3px solid red;
}

.item-div {
	background-color: red;
}

.item-fluid {
	background-color: yellow;
}

.item-fluid div {
	background-color: orange;
	width: 300px;
}

.wrapper {
	border: 3px solid blue;
}
