/******************** VARIABLES *********************/
.grid-swipe {
	--margin-number: 0px;
	--gap-number: 0px;
	--column-number: 1;
	--column-percentage-column: calc(calc(100 / var(--column-number)) / 100);
	--column-size: calc(100% * var(--column-percentage-column));
}
/* custom margin  */
.grid-swipe-custom__margin--5 {
	--margin-number: 5px;
}
.grid-swipe-custom__margin--10 {
	--margin-number: 10px;
}
.grid-swipe-custom__margin--15 {
	--margin-number: 15px;
}
.grid-swipe-custom__margin--20 {
	--margin-number: 20px;
}
.grid-swipe-custom__margin--25 {
	--margin-number: 25px;
}
.grid-swipe-custom__margin--30 {
	--margin-number: 30px;
}

/* custom gap */
.grid-swipe-custom__gap--5 {
	--gap-number: 5px;
}
.grid-swipe-custom__gap--10 {
	--gap-number: 10px;
}
.grid-swipe-custom__gap--15 {
	--gap-number: 15px;
}
.grid-swipe-custom__gap--20 {
	--gap-number: 20px;
}
.grid-swipe-custom__gap--25 {
	--gap-number: 25px;
}
.grid-swipe-custom__gap--30 {
	--gap-number: 30px;
}

/* custom column  */
.grid-swipe-custom__column--1 {
	--column-number: 1;
}
.grid-swipe-custom__column--2 {
	--column-number: 2;
}
.grid-swipe-custom__column--3 {
	--column-number: 3;
}
.grid-swipe-custom__column--4 {
	--column-number: 4;
}
.grid-swipe-custom__column--5 {
	--column-number: 5;
}
.grid-swipe-custom__column--6 {
	--column-number: 6;
}
/******************** GRID SWIPE *********************/
.grid-swipe {
	align-content: center;
	scroll-snap-stop: always;
	-webkit-scroll-snap-stop: always;
	display: flex;
	display: -webkit-flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	-webkit-scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}
.grid-swipe:before,
.grid-swipe:after {
	content: '';
	display: block;
}
.grid-swipe--snap.grid-swipe:before,
.grid-swipe--snap.grid-swipe:after {
	scroll-snap-align: end;
	-webkit-scroll-snap-align: end;
}

/******************** GRID ITEM *********************/
.grid-item {
	border: none;
	overflow: hidden;
}
.grid-swipe--snap .grid-item {
	scroll-snap-stop: always;
	-webkit-scroll-snap-stop: always;
	scroll-snap-align: start;
	-webkit-scroll-snap-align: start;
}

.grid-swipe--snap.grid-swipe--snap--center .grid-item {
	scroll-snap-align: center;
	-webkit-scroll-snap-align: center;
}
.grid-swipe--snap.grid-swipe--snap--end .grid-item {
	scroll-snap-align: end;
	-webkit-scroll-snap-align: end;
}

.grid-item:last-child {
	margin-right: 0px !important;
}

/******************** GAP CUSTOM - size *********************/
.grid-swipe--default.grid-swipe--snap--end {
	scroll-padding-right: var(--margin-number); /* padding correcao ios safari */
}
.grid-swipe--default {
	scroll-padding-left: var(--margin-number); /* padding correcao ios safari */
}
.grid-swipe--default .grid-item {
	margin-right: var(--gap-number);
	flex: 0 0
		calc(
			var(--column-size) +
				calc(
					calc(calc(var(--margin-number) * var(--column-percentage-column)) * -2) +
						calc(calc(var(--gap-number) * calc(1 - var(--column-percentage-column))) * -1)
				)
		);
}

.grid-swipe--default:before,
.grid-swipe--default:after {
	flex: 0 0 var(--margin-number);
}

/******************** GAP CUSTOM - size *********************/
.grid-swipe--fluid .grid-item {
	overflow: initial;
	flex: initial !important;
}

/* HACK: Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

/******************** DOTS *********************/
.grid-swipe--dots {
	display: flex;
	justify-content: center;
}

.grid-swipe--dots--item {
	width: 7px;
	height: 7px;
	display: block;
	border-radius: 100%;
	background-color: #989898;
	margin: 0.6rem 0.2rem;
}
